<div class="outer-container">
  <div class="container-fluid d-flex content-wrapper">
    <!-- 左侧菜单栏 -->
    <div class="sidebar">
      <%#= debug current_user %>
      <%#= user_signed_in?.inspect %>

      <div class="logo-wrapper">
        <%= image_tag("logo.png", alt: "Momento Logo") %>
      </div>
      <%#= image_tag("logo.png", alt: "Momento Logo") %>

      <!-- 菜单项 -->
      <ul class="nav flex-column text-start w-100">
        <li class="nav-item mb-3">
          <a href="<%= posts_path %>" class="nav-link d-flex align-items-center">
            <i class="bi bi-house-door me-2"></i> Discover
          </a>
        </li>

        <% if user_signed_in? %>
          <li class="nav-item mb-3">
            <a href="<%= new_post_path %>" class="nav-link d-flex align-items-center">
              <i class="bi bi-plus-circle me-2"></i> Post
            </a>
          </li>

<!--          <li class="nav-item mb-3">-->
<!--            <a href="<%#= profile_path(current_user.profile) %>" class="nav-link d-flex align-items-center">-->
              <%#= image_tag current_user.profile.avatar.variant(resize_to_fill: [30, 30]), class: "rounded-circle me-2" if current_user.profile.avatar.attached? %>
              <%#= current_user.username %>
<!--            </a>-->
<!--          </li>-->

          <li class="nav-item mb-3">
            <a href="<%= profile_path(current_user.profile) %>" class="nav-link d-flex align-items-center">
              <% if current_user.profile.avatar.attached? %>
                <%= image_tag current_user.profile.avatar.variant(resize_to_fill: [30, 30]), class: "rounded-circle me-2" %>
              <% else %>
                <%= image_tag "default_avatar.png", size: "30x30", class: "rounded-circle me-2" %>
              <% end %>
              <%= current_user.username %>
            </a>
          </li>


          <!-- 退出登录按钮 -->
          <li class="nav-item mb-3">
            <%= button_to "Logout", destroy_user_session_path, method: :delete, data: { turbo: false }, class: "btn btn-danger w-100" %>
          </li>

        <% else %>
          <li class="nav-item mb-3">
            <a href="<%= new_user_session_path  %>" class="nav-link">
              <i class="bi bi-send me-2"></i>Login</a>
          </li>
          <li class="nav-item mb-3">
            <a href="<%= new_user_registration_path  %>" class="nav-link text-danger">
              <i class="bi bi-airplane me-2"></i>Register</a>
          </li>
        <% end %>
      </ul>

    </div>

    <!-- 主内容区 -->
    <div class="main-content">
      <!-- 搜索栏 -->
<!--      <div class="d-flex justify-content-between mt-3 mb-4">-->
<!--        <input type="text" class="form-control" placeholder="Search for more contents" style="width: 300px;">-->
<!--      </div>-->

      <div class="d-flex justify-content-between mt-3 mb-4">
        <input type="text"
               data-controller="search"
               data-action="input->search#submit"
               data-search-url-value="<%= posts_path %>"
               class="form-control"
               placeholder="Search for more contents"
               style="width: 300px;">
      </div>

      <!-- 瀑布流布局 -->
      <turbo-frame id="posts_list">
        <div class="grid-container">
          <%= render partial: "post_card", collection: @posts, as: :post%>
          <%#= render partial: "post_card" %>
        </div>
      </turbo-frame>

<!--      <turbo-frame id="posts_list">-->
          <%#= render partial: "post_card", collection: @posts %>
<!--      </turbo-frame>-->

      <!-- 瀑布流布局 -->
<!--      <div class="grid-container">-->
        <%# @posts.each do |post| %>
<!--          <div class="grid-item card h-100">-->
            <%# if post.image.attached? %>
              <%#= link_to post_path(post) do %>
                <%# if post.image.metadata[:height] > post.image.metadata[:width] %>
                  <%#= image_tag post.image.variant(resize_to_fill: [260.5, 347]), class: "card-img-top" %>
                <%# else %>
                  <%#= image_tag post.image.variant(resize_to_fill: [260.5, 195]), class: "card-img-top" %>
                <%# end %>
              <%# end %>
            <%# end %>
<!--            <div class="card-body">-->
<!--              <h5 class="card-title"><%#= link_to post.title, post_path(post), data: { turbo_frame: "modal" } %></h5>-->
<!--              <p class="card-text d-flex justify-content-between align-items-center">-->
<!--                <span class="d-flex align-items-center">-->
                  <%# if post.user.profile.avatar.attached? %>

                    <%#= image_tag post.user.profile.avatar.variant(resize_to_fill: [24, 24]), saver: { quality: 30 }, class: "rounded-circle me-2" %>
                  <%# end %>
                  <%#= link_to post.user.username, profile_path(post.user), class: "fw-semibold text-dark text-decoration-none" %>
<!--                </span>-->
<!--                <span>❤️ <%#= post.likes.count %></span>-->
<!--              </p>-->
<!--            </div>-->
<!--          </div>-->
        <%# end %>
<!--      </div>-->

    </div>
  </div>

</div>




